* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --skills-bar-length: 0%;
}
body {
  display: flex;
  flex-direction: column;
}
/* variables */
:root {
  --skills-bar-length: 0%;
}
/* RECREACION DEL HEADER */
header {
  height: 10vh;
}
.container__menu {
  width: 100%;
  height: 70px;
  background-color: #08aaff;
  padding: 0px 20px;
}
.menu {
  max-width: 1200px;
  margin: auto;
  height: 100%;
}
nav {
  height: 100%;
}
nav ul {
  height: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
}
nav ul li {
  height: 100%;
  list-style: none;
  position: relative;
}
nav ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 14px;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 300ms ease;
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  transform: scale(1.1);
  background: #0074c7;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
nav ul li:first-child a {
  background-image: url(home.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 20px 40px;
}
nav ul li:first-child:hover a {
  background-image: url(home.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 20px 40px;
}
#selected {
  transform: scale(1.1);
  background-color: rgb(17, 116, 147);
  border: 1px solid none;
  border-radius: 10px;
}
/*  */
/* ELEMENTOS RESPONSIVOS */
.icon__menu {
  font-size: 26px;
  color: white;
  cursor: pointer;
  width: 26px;
  height: 100%;
  display: none;
  align-items: center;
}
#check__menu {
  display: none;
}
#label__check {
  width: 26px;
  height: 100%;
  display: none;
}

/* MEDIA QUERIES NAV*/
@media (max-width: 720px) {
  nav ul {
    flex-direction: column;
    background-color: #023877;
    position: fixed;
    left: 0;
    top: 70px;
    width: 100%;
    height: 0px;
    transition: all 300ms ease;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
  }
  nav ul li a:hover {
    transform: scale(1);
  }
  nav ul li:first-child a {
    background-position: 20px;
  }
  #selected {
    transform: scale(1);
    border-radius: 0;
  }
  #label__check {
    display: block;
  }
  .icon__menu {
    display: flex;
  }
  #check__menu:checked ~ nav ul {
    height: 400px;
    visibility: visible;
    opacity: 1;
  }
}

.portada {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 90vh;
  overflow: hidden;
}
/* TRABAJANDO CON MI INFORMACION */
.portada .miinformacion {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  width: 50%;
}
/* TRABAJANDO CON EL TEXTO */
.portada .miinformacion .presentacion {
  margin-left: 30px;
  padding: 0px 0px 15px 50px;
}
.portada .miinformacion .presentacion .txt1,
.txt3 {
  color: red;
  font-size: 40pt;
}
.portada .miinformacion .presentacion .txt2 {
  color: red;
  font-size: 20pt;
  padding-top: 5px;
}
/* EFECTO MAQUINA DE ESCRIBIR */
.portada .presentacion .txt3 {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 9ch;
  animation: typing 1.4s steps(9) infinite,
    blink 0.3s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/* IMAGENES DE LAS TECNOLOGIAS */
.portada .logos_tecnologias {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0px 0px 15px 50px;
  margin-left: 30px;
  margin-top: 30px;
}

.portada .logos_tecnologias img {
  height: 60px;
  margin: 0 10px 0 0;
}
.portada .botones {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0 70px 15px 80px;
}
.portada .botones a {
  position: relative;
  color: white;
  text-decoration: none;
  border: 1px solid none;
  background-color: #08aaff;
  border-radius: 10px;
  padding: 15px;
  transition: all 0.3s ease;
}

.portada .botones .btn1:hover {
  transform: scale(1.2);
  box-shadow: inset -4.3em 0 0 0 rgba(63, 94, 251, 1),
    inset 4.4em 0 0 0 rgba(252, 70, 107, 1);
}
.portada .botones .btn2:hover {
  transform: scale(1.2);
  box-shadow: inset -6em 0 0 0 rgba(63, 94, 251, 1),
    inset 5.8em 0 0 0 rgba(252, 70, 107, 1);
}
/* AQUI VA LA IMAGEN */
.portada .imagenfondo {
  width: 50%;
  height: 90vh;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portada .imagenfondo img {
  padding-top: 10px;
  position: relative;
  height: 100%;
  z-index: 2;
}
/* CONFIGURACION ACERCA MIO */
.sobremi {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.acercamio {
  width: 60%;
  display: flex;
  margin-right: 60px;
  flex-direction: row;
  gap: 50px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px;
  height: 450px;
  /* backdrop-filter: blur(5px); */
  /* -webkit-backdrop-filter: blur(5px); */
  /* letter-spacing: 1px;
  line-height: 35px;
  font-size: 15pt;
  transition: all 300ms; */
}
.sobremi .acercamio:hover {
  transform: translateY(5px);
}
.acercamio h2 {
  color: red;
  font-size: 25pt;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.presentacionn {
  position: relative;
  max-width: 50%;
  text-align: justify;
}

/* .presentacionn p,
.aptitudes li {
  font-size: 18pt;
  transition: all 300ms;
  line-height: 35px;
} */

.presentacionn h2 {
  padding: 5px 0 20px 5px;
}
.aptitudes {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aptitudes h2 {
  padding: 5px 0 5px 5px;
}

.aptitudes li {
  padding: 15px 0 0 0;
  list-style-image: url(icons8-marca-de-verificación-12.png);
}

.fotologo {
  position: relative;
  width: 40%;
}
.fotologo img {
  height: auto;
  max-width: 100%;
  animation: movimiento 2.5s linear infinite;
}
@keyframes movimiento {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

/* AJUSTANDO LA IMAGEN */
.lenguaje img {
  width: 50px;
  height: 50px;
}

/* CONOCIMIENTOS */
.conocimientos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* border: 3px #08aaff solid; */
}

.conocimientos .titulo__ {
  color: red;
  font-size: 25pt;
  margin-bottom: 80px;
  text-align: center;
}
.conocimientos_lenguajes {
  /* width: 300px; */
  display: grid;
  grid-template-columns: auto auto auto;

  /* flex-direction: row; */
  gap: 50px;
  /* border: 3px #08aaff solid; */
  /* flex-wrap: wrap; */
  /* align-items: center;
  justify-content: center; */
}
.lenguaje {
  /* width: auto; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 20px;
}
.lenguaje small {
  padding: 20px;
}
.lenguaje p {
  padding: 10px;
}
.detalle_lenguaje {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.habilidades__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  width: 175px;
  justify-content: space-between;
}

.barra,
.barra::after {
  position: relative;
  width: 175px;
  height: 8px;
  background-color: #888;
  border-radius: 3px;
  overflow: hidden;
}
.barra::after {
  content: "";
  position: absolute;
  left: -175px;
  background-color: blue;
  transition: 0.2s ease-in-out;
  animation: llenado__barra 2s ease-in-out forwards;
}
.skill_bar--15::after {
  --skills-bar-length: 15%;
}
.skill_bar--20::after {
  --skills-bar-length: 20%;
}
.skill_bar--70::after {
  --skills-bar-length: 70%;
}
.skill_bar--50::after {
  --skills-bar-length: 50%;
}
.skill_bar--30::after {
  --skills-bar-length: 30%;
}
.skill_bar--40::after {
  --skills-bar-length: 40%;
}
@keyframes llenado__barra {
  to {
    transform: translateX(var(--skills-bar-length));
  }
}

/*                FIN CONOCIMIENTOS             */

/* CONFIGURANDO MIS PROYECTOS  */
.misproyectos {
  height: 100vh;
  /* border: 3px #08aaff solid; */
  /* display: flex;
  flex-direction: column; */
}

.container__cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* height: 100%; */
  gap: 70px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  width: 350px;
  margin: 10px;
  padding: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 300ms;
}

.card:hover {
  transform: translateY(-10px);
}
.card:hover .cover__card img {
  transform: scale(1.1);
}
.cover__card {
  width: 100%;
  height: 180px;
  border-radius: 14px;
  overflow: hidden;
  border: 3px #08aaff solid;
}
.card h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}
.card p {
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 300;
  margin-top: 20px;
  padding-bottom: 10px;
}
.cover__card img {
  width: 100%;
  height: 100%;
  transition: all 300ms;
  object-fit: cover;
}
.card hr {
  margin-top: 30px;
  border: none;
  height: 0.1px;
  background: #41414138;
}
.footer__card {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.footer__card h3 {
  font-size: 15px;
  font-weight: 500px;
}
/* PRUEBA CONTAINER CARD */

/* FIN MIS PROYECTOS */

/* MEDIA QUERIES PORTADA */
/* CONFIGURANDO GRID RESPONSIVE */

@media only screen and (min-width: 320px) and (max-width: 425px) {
  .portada .logos_tecnologias {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .portada .miinformacion .presentacion .txt1,
  .txt3 {
    font-size: 20pt;
  }
  .portada .miinformacion .presentacion .txt2 {
    font-size: 15pt;
  }
  .portada .miinformacion .presentacion {
    margin-left: 10px;
    padding: 0px 0px 15px 10px;
  }
  .portada .logos_tecnologias {
    padding: 0px 0px 0px 10px;
    margin-left: 10px;
    margin-top: 5px;
  }
  .portada .logos_tecnologias img {
    height: 40px;
    margin: 0 5px 0 0;
  }
  .portada .botones {
    margin-top: 50px;
    /* padding-left: 10px; */
    padding: 0 0px 0px 2px;
    gap: 10px;
    flex-wrap: wrap;
  }
  .portada .botones a {
    padding: 5px;
    font-size: 10pt;
    text-align: center;
  }
  .portada .imagenfondo img {
    width: 100%;
    height: 60vh;
    object-fit: contain;
  }
  .portada .botones .btn1:hover {
    transform: scale(1);
  }
  .portada .botones .btn2:hover {
    transform: scale(1);
  }
  /* ARREGLANDO EL EFECTO MAQUINA DE ESCRIBRI */
  .portada .presentacion .txt3 {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 10ch;
    animation: typing 1.4s steps(8) infinite, blink 0.3s step-end alternate;
    overflow: hidden;
  }
}
@media only screen and (min-width: 425px) and (max-width: 540px) {
  .portada .logos_tecnologias {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .portada .miinformacion .presentacion .txt1,
  .txt3 {
    font-size: 30pt;
  }
  .portada .miinformacion .presentacion .txt2 {
    font-size: 19pt;
  }
  .portada .miinformacion .presentacion {
    margin-left: 10px;
    padding: 0px 0px 15px 10px;
  }
  .portada .logos_tecnologias {
    padding: 0px 0px 0px 10px;
    margin-left: 10px;
    margin-top: 5px;
  }
  .portada .logos_tecnologias img {
    height: 40px;
    margin: 0 5px 0 0;
  }
  .portada .botones {
    margin-top: 50px;
    /* padding-left: 10px; */
    padding: 0 0px 0px 2px;
    gap: 3px;
  }
  .portada .botones a {
    padding: 5px;
    font-size: 12pt;
    text-align: center;
  }
  .portada .imagenfondo img {
    width: 100%;
    height: 70vh;
    object-fit: contain;
  }
  .portada .botones .btn1:hover {
    transform: scale(1);
  }
  .portada .botones .btn2:hover {
    transform: scale(1);
  }
  /* ARREGLANDO EL EFECTO MAQUINA DE ESCRIBRI */
  .portada .presentacion .txt3 {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 10ch;
    animation: typing 1.4s steps(8) infinite, blink 0.3s step-end alternate;
    overflow: hidden;
  }
}

@media only screen and (min-width: 540px) and (max-width: 720px) {
  .portada .logos_tecnologias {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .portada .miinformacion .presentacion .txt1,
  .txt3 {
    font-size: 37pt;
  }
  .portada .miinformacion .presentacion .txt2 {
    font-size: 18pt;
  }
  .portada .miinformacion .presentacion {
    margin-left: 10px;
    padding: 0px 0px 15px 10px;
  }
  .portada .logos_tecnologias {
    padding: 0px 0px 0px 10px;
    margin-left: 10px;
    margin-top: 5px;
  }
  .portada .logos_tecnologias img {
    height: 40px;
    margin: 0 5px 0 0;
  }
  .portada .botones {
    margin-top: 50px;
    /* padding-left: 10px; */
    padding: 0 0px 0px 2px;
    gap: 3px;
  }
  .portada .botones a {
    padding: 5px;
    font-size: 15pt;
    text-align: center;
  }
  .portada .imagenfondo img {
    width: 100%;
    height: 70vh;
    object-fit: contain;
  }
  .portada .botones .btn1:hover {
    transform: scale(1);
  }
  .portada .botones .btn2:hover {
    transform: scale(1);
  }
  /* ARREGLANDO EL EFECTO MAQUINA DE ESCRIBRI */
  .portada .presentacion .txt3 {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 10ch;
    animation: typing 1.4s steps(8) infinite, blink 0.3s step-end alternate;
    overflow: hidden;
  }
}
@media only screen and (min-width: 720px) and (max-width: 1050px) {
  nav ul {
    justify-content: center;
  }
  .portada .logos_tecnologias {
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
  .portada .miinformacion .presentacion .txt1,
  .txt3 {
    font-size: 40pt;
  }
  .portada .miinformacion .presentacion .txt2 {
    font-size: 20pt;
  }
  .portada .miinformacion .presentacion {
    margin-left: 0px;
    padding: 0px 0px 15px 50px;
  }
  .portada .logos_tecnologias {
    padding: 0px 0px 0px 10px;
    margin-left: 10px;
    margin-top: 5px;
  }
  .portada .logos_tecnologias img {
    height: 40px;
    margin: 0 5px 0 0;
  }
  .portada .botones {
    margin-top: 50px;
    /* padding-left: 10px; */
    padding: 0 0px 0px 2px;
    gap: 3px;
  }
  .portada .botones a {
    padding: 5px;
    font-size: 15pt;
    text-align: center;
  }
  .portada .imagenfondo img {
    width: 100%;
    height: 90vh;
    object-fit: contain;
  }
  .portada .botones .btn1:hover {
    transform: scale(1);
  }
  .portada .botones .btn2:hover {
    transform: scale(1);
  }
  /* ARREGLANDO EL EFECTO MAQUINA DE ESCRIBRI */
  .portada .presentacion .txt3 {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 10ch;
    animation: typing 1.4s steps(8) infinite, blink 0.3s step-end alternate;
    overflow: hidden;
  }
}
/* MEDIA QUERES PARA SOBRE MI */

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .sobremi {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .presentacionn img {
    width: 30px;
    height: 30px;
  }

  .presentacionn p {
    font-size: 8pt;
    letter-spacing: 0px;
    line-height: 25px;
  }
  .presentacionn h2,
  .aptitudes h2 {
    font-size: 10pt;
  }
  .acercamio {
    min-width: 90%;
    margin-right: 5px;
    height: 350px;
    /* font-size: 13pt; */
  }
  .aptitudes li {
    font-size: 8pt;
  }
}
@media only screen and (min-width: 500px) and (max-width: 720px) {
  .sobremi {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .presentacionn img {
    width: 30px;
    height: 30px;
  }
  .presentacionn p {
    font-size: 11pt;
    letter-spacing: 0px;
    line-height: 25px;
  }
  .presentacionn h2,
  .aptitudes h2 {
    font-size: 20pt;
  }
  .acercamio {
    min-width: 90%;
    margin-right: 5px;
    height: 350px;
    /* font-size: 13pt; */
  }
  .aptitudes li {
    font-size: 11pt;
  }
}
@media only screen and (min-width: 720px) and (max-width: 1324px) {
  .sobremi {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  .presentacionn img {
    width: 30px;
    height: 30px;
  }
  .presentacionn p,
  .aptitudes li {
    font-size: 10pt;
    transition: all 300ms;
    line-height: 30px;
  }

  .presentacionn h2,
  .aptitudes h2 {
    font-size: 20pt;
  }
  .acercamio {
    min-width: 40%;
    margin-right: 30px;
    height: 450px;
    /* font-family: "Times New Roman", Times, serif; */
    /* letter-spacing: 2px; */
    /* line-height: 5px; */
    /* font-size: 13pt; */
  }
}

@media only screen and (min-width: 1324px) {
  .sobremi {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  .presentacionn img {
    width: 30px;
    height: 30px;
  }

  .presentacionn p,
  .aptitudes li {
    font-size: 17pt;
    transition: all 300ms;
    line-height: 35px;
  }

  .presentacionn h2,
  .aptitudes h2 {
    font-size: 20pt;
  }
  .acercamio {
    min-width: 40%;
    margin-right: 30px;
    height: 450px;
  }
}
/* MEDIA QUERIES CONOCIMIENTOS */

@media screen and (max-width: 1025px) {
  .conocimientos_lenguajes {
    grid-template-columns: repeat(2, auto);
  }
  .conocimientos .titulo__ {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .conocimientos_lenguajes {
    gap: 20px;
  }
}

@media screen and (max-width: 666px) {
  .conocimientos_lenguajes {
    grid-template-columns: repeat(2, auto);
  }
  .conocimientos .titulo__ {
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 20px;
  }
  .conocimientos_lenguajes {
    gap: 30px;
  }
  .lenguaje {
    font-size: 15px;
  }
  .habilidades__header {
    width: 100px;
  }

  .barra,
  .barra::after {
    position: relative;
    width: 100px;
    height: 8px;
    background-color: #888;
    border-radius: 3px;
    overflow: hidden;
  }
  .barra::after {
    content: "";
    position: absolute;
    left: -100px;
    background-color: blue;
    transition: 0.2s ease-in-out;
    animation: llenado__barra 2s ease-in-out forwards;
  }
}
@media screen and (max-width: 480px) {
  .conocimientos_lenguajes {
    grid-template-columns: repeat(1, auto);
  }
  .conocimientos .titulo__ {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 20px;
  }
  .conocimientos_lenguajes {
    gap: 5px;
  }
  .lenguaje {
    font-size: 15px;
  }
  .habilidades__header {
    width: 100px;
  }

  .barra,
  .barra::after {
    position: relative;
    width: 100px;
    height: 8px;
    background-color: #888;
    border-radius: 3px;
    overflow: hidden;
  }
  .barra::after {
    content: "";
    position: absolute;
    left: -100px;
    background-color: blue;
    transition: 0.2s ease-in-out;
    animation: llenado__barra 2s ease-in-out forwards;
  }
  .lenguaje small {
    padding: 10px;
  }
  .lenguaje p {
    padding: 5px;
  }
  .lenguaje img {
    width: 40px;
    height: 40px;
  }
}

/* configurando mediaqueries para mis proyectos */
@media (max-width: 1250px) {
  .card {
    width: 30%;
  }
  .container__cards {
    gap: 10px;
  }
}

@media (max-width: 800px) {
  .card {
    width: 30%;
    /* height: 430px; */
    padding: 5px;
    margin: 5px;
  }
  .container__cards {
    gap: 5px;
  }
  .cover__card {
    height: 100px;
    margin-bottom: 5px;
  }
}
@media (max-width: 720px) {
  .card {
    width: 40%;
    /* height: 430px; */
    padding: 5px;
    margin: 5px;
  }
  .container__cards {
    gap: 5px;
  }
  .cover__card {
    height: 100px;
    margin-bottom: 5px;
  }
}
@media (max-width: 650px) {
  .card {
    position: relative;
    height: auto;
    width: 80%;
    /* height: 430px; */
    padding: 5px;
    margin: 5px;
  }
  .container__cards {
    /* position: relative; */
    gap: 5px;
    top: 0px;
    left: 0;
    transform: none;
    margin-top: 100px;
  }
  .cover__card {
    height: 100px;
    margin-bottom: 5px;
  }
}
